        <% if post.favorited_by?(current_user) %>
          <p>
            <%= link_to post_favorite_path(post.id, post.favorites.first.id), method: :delete, local: true do %>
            ❤︎<%= post.favorites.count %>
            <% end %>
          </p>
        <% else %>
          <p>
            <%= link_to post_favorites_path(post), method: :post, local: true do %>
            ♡<%= post.favorites.count %>
            <% end %>
          </p>
        <% end %>