<div class="main-container-wrapper">
 <div class = "main-container">
   <div class = "row">

     <div class="col-md-4 offset-md-4 text-center main-top ">SNS</div>


      <p class = "col-md-4 offset-md-4 text-center sub-top ">〜サブタイトル〜</p>

   </div>


 </div>
 <div class = "container">
  <div class="btn-wrapper col-4 mx-auto">
   <div class = "row">
     <%= link_to 'ログイン',new_user_session_path, class: "btn btn-sm btn-block mb-3 sign_in" %>
   </div>



   <div class = "row">
     <%= link_to '新規登録',new_user_registration_path, class: "btn btn-sm btn-block sign_up" %>
   </div>
   </div>
 </div>
</div>




