 <div class = "main-container">
   <div class = "row">
     <div class="col-md-4 offset-md-4 text-center ">トリビアの滝</div>
      <p class = "col-md-4 offset-md-4 text-center">〜わずかな時間のインプット〜</p>
   </div>
 </div>
 <div class = "container">
  <div class="btn-wrapper col-8 mx-auto">
   <div class = "row">
     <button type="button" class="btn btn-primary btn-lg btn-block">新規登録</button>
     <button type="button" class="btn btn-primary btn-lg btn-block">すでにアカウントをお持ちの方はこちらからログイン</button>
   </div>
   </div>
 </div>



